@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src:
    local("Poppins Regular"),
    local("Poppins-Regular"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfedw.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfedw.woff)
      format("woff");
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: clamp(1.6rem, 1.144rem + 0.951vw, 2rem) !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
}

.heading-text {
  font-weight: 600 !important;
  line-height: 1.3 !important;
}

h2 {
  .heading-text {
    font-size: clamp(1.4rem, 0.944rem + 0.951vw, 1.8rem) !important;
  }
}

h3 {
  .heading-text {
    font-size: clamp(1.2rem, 0.744rem + 0.951vw, 1.6rem) !important;
  }
}

.myst-top-nav {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15) !important;

  a span {
      font-size: 1rem !important;
      font-weight: 900 !important;
    }
}
